.movies-cardlist {
  margin: 0 auto;
  padding: 70px 0 10px;
}

.movies-cardlist__movies-grid {
  margin: 0;
  padding: 0;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)); */
  grid-template-columns: repeat(4, minmax(270px, 1fr));
  grid-auto-rows: 1fr;
  row-gap: 20px;
  column-gap: 20px;
  list-style: none;
}

@media all and (max-width: 1175px) {
  .movies-cardlist__movies-grid {
    padding: 0 0 28px;
    grid-template-columns: repeat(2, minmax(270px, 1fr));
    column-gap: 30px;
    row-gap: 33px;
  }
  .movies-cardlist {
    padding: 68px 30px 31px;
  }
  .movies-cardlist__block{
    padding: 10px 0 10px;
  }
}

@media all and (max-width: 630px) {
  .movies-cardlist {
    padding: 39px 10px 31px;
  }
  .movies-cardlist__movies-grid {
    grid-template-columns: repeat(1, minmax(270px, 1fr));
    column-gap: 36px;
    row-gap: 37px;
    padding: 0 0 61px;
  }
}
